# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# Build directory
public/
static/admin/*.bundle.*
.DS_Store
yarn-error.log
functions/.env
functions/.netlify
functions/node_modules
functions/lambda
functions/yarn.lock
functions/functions
functions/calendar-editor.json
functions/client_secret*
